    Cada item da tabela representa um usuário que acessou um site. O site possui 4 páginas diferentes, a pagina inicial (home), a pagina de como ele funciona (how_it_works), a pagina de contato (contact) e a quarta coluna que indica se a pessoa comprou ou não um produto (bought).

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('data/tracking.csv')
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

    Vamos renomear as colunas para deixa-las em português.

In [7]:
mapa = {
    "home":'principal',
    "how_it_works" : "como_funciona",
    "contact":"contato",
    "bought":"comprou"
}
dados.rename(columns = mapa, inplace = True)

    Vamos separar as 3 primeiras colunas (que são o "x", as features), da coluna "comprou" que é o "y".

In [17]:
x = dados[['principal','como_funciona', 'contato']]
y = dados['comprou']

    Se eu treinar com todos os valores, não tenho com quem testar. É preciso então, separar os dados de treino e de teste para não enviesar os resultados.
    
    Vamos verificar quantas linhas temos, separar 25% para testar e treinar nos outros 75%.

In [23]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print(f'Treinaremos com {len(treino_x)} e testaremos com {len(teste_x)} elementos')

Treinaremos com 75 e testaremos com 24 elementos

In [35]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(treino_x, treino_y)

previsoes = model.predict(teste_x)
acuracia = accuracy_score(teste_y, previsoes) * 100

print('Acurácia de %.2f%%' % acuracia)

Acurácia de 95.83%